modules = ["nodejs-22", "python-3.11"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[userenv]

[userenv.shared]
ENABLE_GUILD_MEMBERS = "false"
PREFIX = "!"
AD_CHANNEL_IDS = ""
LOG_ENTRADAS_ID = ""
LOG_SAIDAS_ID = ""
LOG_BANIMENTOS_ID = ""
LOG_GERAL_ID = ""
LOG_SERVER_ID = ""
REGISTRO_PAINEL_CANAL_ID = ""
REGISTRO_LOG_CANAL_ID = ""
REGISTRO_CARGO_LIDER_ID = ""
REGISTRO_CARGO_APROVADO_ID = ""
REGISTRO_CARGO_RECRUTADOR_ID = ""
VERIFICACAO_CARGO_ID = ""
TICKETS_LOG_CHANNEL_ID = ""
TICKETS_CARGO_EQUIPE_ID = ""

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Bot Discord"

[[workflows.workflow]]
name = "Bot Discord"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[workflows.workflow.metadata]
outputType = "console"
